<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="NetTcpStreamingBinding"
					maxReceivedMessageSize="104857600"
					transferMode="Streamed"
					receiveTimeout="00:10:00"
					sendTimeout="00:10:00" />
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint name="ChargerService"
					  address="net.tcp://localhost:4000/ChargerService"
					  binding="netTcpBinding"
					  bindingConfiguration="NetTcpStreamingBinding"
					  contract="Common.IServiceContract" />
		</client>
	</system.serviceModel>
</configuration>