<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.ServiceModel>
		<bindings>
			<netTcpBinding>
				<binding name="NetTcpStreamingBinding"
					maxReceivedMessageSize="104857600"
					transferMode="Streamed">
					<reliableSession enabled="true" inactivityTimeout="00:10:00"/>
				</binding>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint name="ChargerService"
					  address="net.tcp://localhost:4000/ChargerService"
					  binding="netTcpBinding"
					  bindingConfiguration="NetTcpStreamingBinding"
					  contract="Common.IServiceContract"></endpoint>
		</client>
	</system.ServiceModel>
</configuration>