<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="path" value="Files"/>
	</appSettings>
	<system.ServiceModel>
		<bindings>
			<netTcpBinding>
				<binding name="NetTcpStreamingBinding"
					maxReceivedMessageSize="104857600"
					transferMode="Streamed">
					<reliableSession enabled="true" inactivityTimeout="00:10:00"/>
				</binding>
			</netTcpBinding>
		</bindings>
		<services>
			<service name="Server.ServiceContract">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:4000"/>
					</baseAddresses>
				</host>
				<!-- Service Endpoints -->
				<endpoint
				address="Service"
				binding="netTcpBinding"
				bindingConfiguration="NetTcpStreamingBinding"
				contract="Common.IServiceContract" />
			</service>
		</services>
	</system.ServiceModel>
</configuration>